/* タブレット用 */
@media screen and (max-width: 767px) {
    .header {
        max-width: 300px;
        width: 100%;
    }

    .left {
        max-width: 100px;
        width: 100%;
    }

    .r_lefts {
        max-width: 125px;
        width: 100%;
    }

    .r_right {
        max-width: 75px;
        width: 100%;
    }

    .r_end {
        max-width: 200px;
    }

    .footer {
        max-width: 300px;
        width: 100%;
    }
}

/* スマホ用 */
@media screen and (max-width: 479px) {
    .contents {
        float: none; /* 要素の浮動化の解除 */
    }
    .header {
        max-width: 150px;
        width: 100%;
    }
    .left {
        float: none;
        max-width: 150px;
        width: 100%;
        height: 100px;
    }
    .right {
        float: none;
    }
    .r_lefts {
        float: none;
    }
    .r_left1 {
        width: 150px;
    }
    .r_left2 {
        width: 150px;
    }

    .r_right {
        max-width: 150px;
        width: 100%;
        height: 100px;
    }
    .r_end {
        max-width: 150px;
        width: 100%;
    }
    .footer {
        max-width: 150px;
        width: 100%;
    }
}

