.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main {
/*     width: 400px;
    height: 100px;
 */
}

.left {
    width: 150px;
    height: 250px;
    background-color:#80bfa8;
    float: left;
}

.right {

    float: left;
}

.r_lefts {
    float: left;
}

.r_left1 {
    width: 150px;
    height: 50px;
    background-color:#dbd400;
    
}
.r_left2 {
    width: 150px;
    height: 100px;
    background-color:#0093b7;
    
}
.r_right {
    width: 100px;
    height: 150px;
    background-color:#ff9e6b;
    float: left;
}

.r_end {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.footer {
    width: 400px;
    height: 100px;
    background-color:#d98d30;
}