/* スマホ用 */
@media screen and (max-width: 479px) {
    .contents {
        display: block;
    }

    .header {
        max-width: 200px;
        width: 100%;
        height: 220px;
    }

    .h_items {
        display: block;
    }

    .h_item0 {
        position: relative;
        left: 70px;
    }

    .h_item1 {
        position: relative;
        left: 70px;
        border-width: 0px 10px;
    }

    .main {
        display:block;
    }

    .left {
        height: 100px;
        width: 200px;
    }

    .right {
        margin-top: -10px;
        height: 210px;
        width: 200px;
    }

    .r_item {
        position:relative;
        top:20px;
        /* leftを30pxにするとサンプルの見た目と相違があるので
           25pxに変更しています*/
        left:25px;
    }

    .footer {
        max-width: 200px;
        width: 100%;
    }
}