.header {
    height: 100px;
    width: 400px;
    background-color: #141f40;
}

.h_items {
    display: flex;
}

.h_item0 {
    position:relative;
    top:20px;
    left: 200px;

    height: 40px;
    width: 40px;
    background-color: #a9004d;
    border: white 10px solid;
}

.h_item1 {
    position:relative;
    top:20px;
    left: 200px;

    height: 40px;
    width: 40px;
    background-color: #a9004d;
    border: white solid;
    border-width: 10px 0px;
}

.main {
    display: flex;
}

.left {
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}

.right {
    height: 250px;
    width: 250px;
    background-color: #8c2727;
}

.r_item {
    position:relative;
    top:30px;/* margin-topが10pxあるので-10pxしている */
    left:40px;

    margin-top: 10px;

    height: 40px;
    width: 140px;
    background-color: #ff863f;
    border: white 5px solid;
}

.footer {
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}